/*
  Base colors
*/
$color-white               : #ffffff;
$color-main                : #673ab7;
$color-gray                : #9e9e9e;
$color-priority-hight      : #db0707;
$color-priority-medium     : #f5c70f;
$color-priority-low        : #1bc258;
$color-main-lighten        : #fcfaff;
