<app-header></app-header>
<div class="wrapper-form">
    <mat-card>
        <h2>Add task</h2>
        <form class="example-form" [formGroup]="createTaskForm" (ngSubmit)="createTask()">
            <mat-form-field>
                <mat-label for="taskname">Name</mat-label>
                <input matInput type="text" formControlName="taskname">
                <div class="alert alert-danger"
                    *ngIf="createTaskForm.controls['taskname'].invalid && createTaskForm.controls['taskname'].touched">
                    name is required
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                    <mat-option *ngFor="let priority of priorities" [value]="priority.value">
                    {{priority.viewValue}}
                    </mat-option>
                </mat-select>
                <div class="alert alert-danger"
                    *ngIf="createTaskForm.controls['priority'].invalid && createTaskForm.controls['priority'].touched">
                    priority is required
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <div class="alert alert-danger"
                    *ngIf="createTaskForm.controls['date'].invalid && createTaskForm.controls['date'].touched">
                    date is required
                </div>
            </mat-form-field>
            <button mat-button mat-raised-button color="primary">Add</button>
        </form>
    </mat-card>
</div>

